<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!--Keys related to your Azure Search instance-->
      <add key="SearchServiceName" value="meps-search-service-tgnlimywyqzke" />
      <add key="SearchServiceApiKey" value="F9AD61C090B9531F29185B757B693396" />
      <add key="SearchServiceQueryKey" value="A936C144469279DBAE2393E7E2B9C795" />

      <!--Keys related to your Cognitive Services account-->
      <add key="CognitiveServicesAccountKey" value="94a97a518c69422da53ce9caecc6ae29" />

      <!--Keys related to your storage account for the image-store custom skill-->
      <add key="BlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mepsstoragetgnlimywyqzke;AccountKey=4wupRLEOyXtSIB21pwqEgVsOIfp9ogmigO9WsC3Udklsvm/X97xDcLiN82+DS91UruEyZXhtISeo3RIfncG4+g==;" />

      <!--Keys related to your Azure Web App instance-->
      <add key="AzureWebAppSiteName" value="meps-site-tgnlimywyqzke" />
      <add key="AzureWebAppUsername" value="$meps-site-tgnlimywyqzke" />
      <add key="AzureWebAppPassword" value="BkmyaKDS8KHtspRoRMPEk8CNpauneb2xcfi5mXBFxDowv2h5aprtiPigmbk7" />

      <!--Keys related to your Azure Function instance-->
      <add key="AzureFunctionSiteName" value="meps-function-app-tgnlimywyqzke" />
      <add key="AzureFunctionUsername" value="$meps-function-app-tgnlimywyqzke" />
      <add key="AzureFunctionPassword" value="g7FsS3qoABxTSzyPSN9Kvoong8r1y8DBN0x2J2alCoMD4CydWvad1P98rzH5" />

      <!--Location of sample JFK file documents that we are providing to you.-->
      <add key="JFKFilesBlobStorageAccountConnectionString" value="SharedAccessSignature=st=2019-05-02T21%3A30%3A00Z&amp;se=9999-12-21T12%3A00%3A00Z&amp;sp=rl&amp;sv=2018-03-28&amp;sr=c&amp;sig=NmOktoltvmd9gLqHidRuQN06xeSXbCVYIVti5prLdmA%3D;BlobEndpoint=https://azsjfkfiles.blob.core.windows.net/" />
      <add key="JFKFilesBlobContainerName" value="jfkfiles" />

      <!--Configurable names, feel free to change these if you like-->
      <add key="DataSourceName" value="jfkdatasource" />
      <add key="IndexName" value="jfkindex" />
      <add key="SkillsetName" value="jfkskillset" />
      <add key="IndexerName" value="jfkindexer" />
      <add key="SynonymMapName" value="cryptonyms" />
      <add key="BlobContainerNameForImageStore" value="imagestoreblob" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.3.0" newVersion="7.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
