<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!--Keys related to your Azure Search instance-->
      <add key="SearchServiceName" value="meps-search-service-ba6653jnunjs2" />
      <add key="SearchServiceApiKey" value="F9FDBBCF53AECD6A96FE12008714EF8C" />
      <add key="SearchServiceQueryKey" value="393B6FDE754169DA44F8948BFC51FD15" />

      <!--Keys related to your Cognitive Services account-->
      <add key="CognitiveServicesAccountKey" value="3a1f48f0c747474091b002b1049c96f2" />

      <!--Keys related to your storage account for the image-store custom skill-->
      <add key="BlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mepsstorageba6653jnunjs2;AccountKey=7f3FgQKMlKzLSwY7PnF1HS1yARD4UpD/VAOLFge6inBhjHWwyNMp9LBUsNEFgLsLxT6r314QOiK27CHNz0f/KA==;" />

      <!--Keys related to your Azure Web App instance-->
      <add key="AzureWebAppSiteName" value="meps-site-ba6653jnunjs2" />
      <add key="AzureWebAppUsername" value="$meps-site-ba6653jnunjs2" />
      <add key="AzureWebAppPassword" value="2gYLzgEx65cZXP3rgrSzE1uxrvLwM8eBLNqitejjPnjCSQdQRgr7Ce0iqcl9" />

      <!--Keys related to your Azure Function instance-->
      <add key="AzureFunctionSiteName" value="meps-function-app-ba6653jnunjs2" />
      <add key="AzureFunctionUsername" value="$meps-function-app-ba6653jnunjs2" />
      <add key="AzureFunctionPassword" value="gvPh0XbmiyMiJ9SqFcL8lsyQZhC54lGhjJMwq6vB5qRmrhHYLmblf9vpSpeL" />

      <!--Location of sample JFK file documents that we are providing to you.-->
      <add key="JFKFilesBlobStorageAccountConnectionString" value="BlobEndpoint=https://mepsstorageba6653jnunjs2.blob.core.windows.net/;QueueEndpoint=https://mepsstorageba6653jnunjs2.queue.core.windows.net/;FileEndpoint=https://mepsstorageba6653jnunjs2.file.core.windows.net/;TableEndpoint=https://mepsstorageba6653jnunjs2.table.core.windows.net/;SharedAccessSignature=sv=2019-12-12&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacupx&amp;se=2021-02-10T01:02:56Z&amp;st=2021-02-09T17:02:56Z&amp;spr=https&amp;sig=JkXe1JZIwH6kv3hVF5zrgVV%2F3zwiTPPgweaUDNbCsV0%3D" />
      <add key="JFKFilesBlobContainerName" value="mepsfiles" />

      <!--Configurable names, feel free to change these if you like-->
      <add key="DataSourceName" value="jfkdatasource" />
      <add key="IndexName" value="jfkindex" />
      <add key="SkillsetName" value="jfkskillset" />
      <add key="IndexerName" value="jfkindexer" />
      <add key="SynonymMapName" value="cryptonyms" />
      <add key="BlobContainerNameForImageStore" value="imagestoreblob" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.3.0" newVersion="7.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>